<!DOCTYPE html>

<html>
	<head>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR Black' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR Light' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR Medium' rel='stylesheet'>
	<link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<meta charset="UTF-8">
		<title>밥향기 :: 리뷰</title>
	
</head>
	
	
	<body>
		
		<div id="wrapper_contents">
			<div id="review_wrapper">
			
					<script>
						const backhome () => {windows.location.href="../homepage/homepage.html"};
					</script>
				<div id="rewview_ready" onclick="backhome()">
					<img src="../img/site_ready.jpg" width="600px" height="700px" />
				</div>
			
			</div>
		</div>
		
		
		
	</body>
</html>