@charset "UTF-8";
@charset "UTF-8";
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<style type="text/css">
			* {
				box-sizing: border-box;
			}
			
			
							
		#detailpage{
			margin: 0px auto;
			width: 1100px;
			display: flex;
			flex-direction:column;
			font-family: 'Noto Sans KR';
					}
		
		
			
			
	/* 	 sec01   */
		#sec01{
			flex:5;
			display: flex;
		}
			#div01{
			flex-grow:4;
		   	padding: 10px;
			
			}
			#div02 {
			flex-grow:6;
			padding : 15px 0 0 0;
					}
			
			#div02 > h1{
			margin: 20px 10px 10px 10px;
			font-size: 25px;
			}
			#div02 > h2 {
			margin: 0 0 0 10px;
			color:#adb5bd;
			font-size: 15px;
			}
			#div02 > h3{
			margin: 30px 10px 10px 7px;
			font-size: 30px;
			}
			#div02 > h4{
			font-size: 16px;
			margin: 15px 10px 10px 10px;
			color:#9c36b5;
			}
			#table01 {
			height: 50%;
			width: 100%;
			margin :60px 0 0 0;
			font-weight: normal;
			font-size: 15px;
			border-spacing: 15px;
			text-align: left;
			}
			
			
			
			
		/* 	 sec02   */	
		#sec02{
			flex:1;
			flex-direction: colunm;
			
			}	
			#table02{
			flex:1;
			flex-direction: row-reverse;
			}
				#table02 h5{
				width:800px;
				height:100%;
				color:white;	
				}
				#table02 h6{
				flex:3;
				font-size: 15px;
				font-weight: lighter;
				}
				#table02 h7{
				flex:4;
				margin: 5px;
				font-size: 35px;
				font-weight: bolder;
				line-height:0;
				}
				#table02 h71{
				flex:1;
				font-size: 15px;
				font-weight:middle;
				}
		
			#menu01{
			flex:1;
			margin: 0px;
			padding: 0px;
			padding: 5px;
			
			
			}
				#menu01 oi{
				vertical-align: center;
				float:right;
				margin: 10px 0;
				border:2px solid #862e9c;
				border-radius: 5px;
				display:inline-block;
				margin-right: 20px;
				font-size:1rem;
				font-weight:bold;
				
				text-align: center;
				line-height:35px;
				
			}
				#oi1 >a{
					color: black;
					text-decoration: none;
					}
					
				
				#oi1{
					width: 230px;
					height: 35px;
					text-decoration: none;
					}
				
				
				#oi2{
					width: 130px;
					height: 35px;
				}
				#oi3{
					width: 130px;
					height: 35px;
				}
				
				#menu01 :hover{
				background-color:#862e9c;
				cursor:pointer;
				color: white;
				
				}
				
			}
			#line01{
				heigth:10px;
			}
	/* 	 sec03   */	
		#sec03{
		display:flex;
		flex: 8;
		flex-direction: column;
			}
				#menu02 oi{
				flex:1;
				float:left;
				margin:40px 0px 40px 0px;
				border:1px solid gray;
				display:inline-block;
				color:gray;
				font-size:1rem;
				font-weight:bold;
				padding:0px;
				text-align: center;
				line-height:2;
				width: 130px;
				
				}
				#menu02 :hover{
				background-color:gray;
				cursor:pointer;
				color: white;
				
				}
				#div04{
				flex:4;
				margin:40px ;
				}	
				
				#div05{
				flex:4;
				margin:40px ;
				text-align: center;
				color: #495057
				}	
				#div05 > h8{
				font-size: 20px;
				font-weight:bold;
				}
				#div05 > h9{
			
				font-size: 40px;
				font-weight:bold;
				}
				#div05 > p{
				text-align:left;
				margin:30px 0 0 0;
				font-size: 16px;
				}
			#div06 {
			margin: 150px 0 0 0;
			text-align: left;
			color:black;
			}	
				#div06 h19{
				margin: 20px 0 20px 0;
				font-size: 30px;
				text-align: left;
				font-weight:bold;
				}	
				#div06 img{
				margin: 30px 0 20px 0;
				
				}
		
			
				#div8{
				margin: 20px 0 20px 0;
				text-align: left;
				color:#495057;
				}
					#div8 hr{
					margin : 20px 0 5 
					0px 0;
				
					}
					#div8 h25{
					margin : 100px 0 30px;
					font-size: 30px;
					font-weight: bold;
					}
					#div8 p{
					margin : 30px 0 40px 20px;
					font-size: 17px;
					font-weight: normal;
					}
					#div8 h26{
					color:#862E9C;
					}
					#table03{
					margin: 130px 20px 30px 50px ;
					font-size: 17px;
					}
					#table03 th,tr{
					padding : 0px 50px 0px 50px;
				}
				#div9{
					height :100px;
					border: none;
    				outline:none;
					text-alige:center;
					margin: 0 auto;
				}	
					.btn_page{
					padding: 20px;
					text-decoration: underline;
					font-size:18px;
					height :30px;
					 border: none;
    				outline:none;
    				background-color: white;
    				color:#868e96
					}
					.btn_page:hover{
					cursor:pointer;
					color: black;
					}
		
		</style>