@charset "UTF-8";


.cartlist_each {
	margin-left:120px;
}


#cart_select {
	height: 40px;
	width: 90%;
	flex-direction: row;
	padding: 6px 0px 0px 47px;
	border-bottom: 1px solid black;
}

#cart_listeach {
	height: 200px;
	width: 90%;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #dee2e6;
	vertical-align: middle;
	align-items: center;
}

	#checkeach {
		width: 5%;
	/* 	border: 1px solid black; */
text-align: center;
}

#pd_img {
	width: 10%;
/* 	border: 1px solid black; */
	align-items: center;
}

#pd_info {
	width: 45%;
/* 	border: 1px solid black; */
	align-items: center;
}


#pname {
	padding-left: 50px;
	margin-bottom: 20px;
	font-family: 'Noto Sans KR Medium';
	font-size: 16px;
}


#pname >a {
	text-decoration: none;
	color: black;
}

#pprice {
	padding-left: 50px;
	font-family: 'Noto Sans KR';
	font-size: 18px;
	}


#orderlist_fn{
	display: flex;
	flex-direction: column;
	margin : 25px auto;
	width : 1050px;
}

.olist_infobox {
	margin-top : 15px;
}

.titlebox {
	font-size : 25px;
	height : 50px;
	font-weight:bold;
	padding-bottom : 10px;
	border-bottom: 2px solid black;
}

.contentbox {
	display : flex;
	justify-content: space-between;
}

.ops_box {
	margin-left: 15px;
	margin-right: 15px;
	margin-top : 10px;
}
.boxes_title {
	font-size : 15px;
	font-weight : bold;
	color : gray;
}

.form-control {
	width : 260px;
	height : 40px;
	margin-top : 3px;
}


#olist_address {
	
	width: 300px;
}



#order_other {
	display:flex;
	flex-direction:row;
	margin-top : 10px;
}
	#order-deliinfo {
		flex: 1;
		margin-top : 15px;
	}
	
	#order-paymentinfo {
		flex: 1;
		margin-top : 15px;
	}
	

#buttonbox {
	text-align: center;
	margin-top : 20px;
	height : 50px;
}
#sub_btn {
	text-align: center;
	font-size: 12px;
	color : white;
	width: 130px;
	height: 30px;
	background-color: purple;
	border-radius: 20px;
	margin : 15px auto;
}

#sub_btn:hover {
	
	
}
		