<!DOCTYPE html>

<html>
	<head>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR Black' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR Light' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Noto Sans KR Medium' rel='stylesheet'>
	<link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
		<meta charset="UTF-8">
		<title>밥향기 :: 공지사항</title>
		<style type="text/css">
		
				
		</style>
		
			<script>
		
		const noticeClick = () => {window.location.href="/html_css_javascript/project/customer_service/customer_service_notice.html"};
		const faqClick = () => {window.location.href="/html_css_javascript/project/customer_service/customer_service_faq.html"};
		const not1Click = () => {window.location.href="/html_css_javascript/project/customer_service/cs_notice_01.html"};
		const not2Click = () => {window.location.href="/html_css_javascript/project/customer_service/cs_notice_02.html"};
		const not3Click = () => {window.location.href="/html_css_javascript/project/customer_service/cs_notice_03.html"};
		</script>
		
		
	</head>
	
	
	<body>
	
		
		<div id="wrapper_contents">
			<div id="cs_wrap">
			<div id="title_box">
				<div id="title"><b>고객센터</b></div>
			</div>
			
			<div id="category_box">
				<div id="category_01" class="cs_cat" onclick="faqClick()"><b>FAQ</b></div>
				<div id="category_02" class="cs_cat" onclick="noticeClick()"><b>공지사항</b></div>
			</div>
			
			<div id="notice_wrap">
				<table id="notice_table">
					
					<tr id="notice_title">
						<th class="not_list_num">번호</th>
						<th>제목</th>
						<th>등록일</th>
					</tr>
					<tr class="notice_list">
						<td class="not_list_num" >3</td>
						<td class="not_list_title" onclick="not3Click()"><div class="not_list_title">(주)밥향기 개인정보처리방침 내용 변경 고지[2021.01.11시행]</div></td>
						<td class="not_list_date">2021-01-10</td>
					</tr>
					<tr class="notice_list">
						<td class="not_list_num">2</td>
						<td class="not_list_title" onclick="not2Click()"><div class="not_list_title">[1월 2차] 미리보는 밥향기 전체메뉴</div></td>
						<td class="not_list_date">2020-12-31</td>
					</tr>
					<tr class="notice_list">
						<td class="not_list_num">1</td>
						<td class="not_list_title"onclick="not1Click()"><div class="not_list_title">새로운 집밥 "밥향기"를 선보입니다.</div></td>
						<td class="not_list_date">2020-12-14</td>
					</tr>
					
					
					
				</table>
				 
				
			</div>
			
			<!-- <div id="indiv_question_box">
				<div id="indiq_title">1:1 문의</div>
				<div id="indiq_cat_box">
					<div id="indiq_cat">문의 유형</div>
					<div id="indiq_cat_input">
						<form id="indiq_cat_form">dd</form>
					</div>
				</div>
				<div id="indiq_content_box">
					<div id="indiq_content_title">문의 내용</div>
					<div id="indiq_content">
						<form id="indiq_content_form">dd</form>
					</div>
				</div>
				<div id="indiq_waring"> 고객님의 개인정보(이름,핸드폰 번호, 계좌번호 등) 입력 시 관리자에 의해 임의 삭제될 수 있습니다.
				</div>
				<div id="indiq_submitbox">
					<button id="indiq_submit" class="indiq_btn">확인</button>
					<button id="indiq_cancel" class="indiq_btn">취소</button>
				</div>
			</div> -->
			
		</div>
		</div>
		
		

		
	</body>
</html>