@charset "UTF-8";

		
		.wrapper{
					margin: 0 auto;
					width:900px;
					display:block;
					font-family: 'Noto Sans KR Medium';
		}
			
			
			/*--------------------------------------*/
