@charset "UTF-8";

* {
				box-sizing: border-box;
			}
			
		
			
				#wrapper_contents {
					width: 1200px;
					margin: auto;
				}
			
				
				#review_wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				
				
				
				#review_ready {
					margin : 0px auto;
				}
				
				
				
			
			